# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\flutterplugin\dd_taoke_sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
